<section class="who-watch-container">
  <app-user-preview
    *ngFor="let user of users; index as userIdx"
    [user]="user"
    (removeShow)="removeShow($event, userIdx)"
    (removeUser)="removeUser($event)"
  ></app-user-preview>
  <section class="create-user">
    <form (submit)="createUser($event)">
      <p>User name</p>
      <input type="text" />
      p
      <button>Add user</button>
    </form>
  </section>
  <section>
    <h3>Mouse Positon</h3>
    <p>X - {{ x }}</p>
    <p>Y - {{ y }}</p>
  </section>
</section>
